<% content_for :head do %>
    <link href="http://js-grid.com/css/jsgrid.min.css" rel="stylesheet"/>
    <link href="http://js-grid.com/css/jsgrid-theme.min.css" rel="stylesheet"/>
<% end %>

<% content_for :scripts do %>
    <script src="http://js-grid.com/js/jsgrid.min.js"></script>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Listing Accounts</h1>

<div id="jsGrid" data-load="<%= accounts_path %>"></div>

<br>

<%= link_to 'New Account', new_account_path %>
